body {
    font-family: Quicksand;
}

header {
    background-color: rgba(8, 10, 29, 1);
    ;
    justify-content: space-between;
    color: white;
    font-size: medium;
    padding: 10px 15px;
    display: flex;
    margin: -8px;
}

.logo {
    margin: 25px 10px;
}

.logo img {
    max-width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 20px 40px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.4s ease-in;


}

nav ul li a:hover {
    color: #00BDD6;

}

.login {
    margin: 33px;
    text-align: center;
}

.login a {
    border-radius: 1px;
    border: white solid;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease-in;
}

.login a:hover {
    color: #00BDD6;
    border-color: #00BDD6;
}


.cover {
    text-align: left;
    margin: -8px;
}





.welcome {
    font-size: 65px;
    font-weight: normal;
    margin-top: -530px;
    margin-left: -570px;
    color: #7ED957;


}

span.green {
    color: #00BDD6;
}

.welcome-2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-left: 120px;
    margin-bottom: 70px;
    font-weight: lighter;

}

.button {
    background-color: #00BDD6;
    text-align: center;
    display: inline-block;
    margin-left: 120px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;

}

.button a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.1s;



}

.button:hover {
    background-color: white;
    border: #00BDD6 solid;
    color: #00BDD6
}

.button a:hover {
    color: #00BDD6
}

.community {

    color: #060B31;
    text-align: center;


    margin: 300px 200px 90px 200px;

    padding: 10px 0px;
}


.join-heading {
    color: #00BDD6;
    ;
    font-size: 45px;
    font-weight: normal;
}

.join-para {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
}

.join {
    text-align: center;
    display: inline-block;
    background-color: #00BDD6;
    ;
    padding: 15px 20px;
    cursor: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.join a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.1s;
}

.join:hover {
    background-color: white;
    border: #00BDD6 2px solid;

}

.join a:hover {
    color: #00BDD6;

}

h1 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}

h3 {
    font-size: 35px;
    font-weight: normal;
}

.block {
    display: inline-flex;
    gap: 180px;
    margin: 30px 120px 30px 120px;
}

.block-2 {
    display: inline-flex;
    gap: 180px;
    margin: 30px 120px 30px 120px;
}

.container-text {
    width: 50%;
    margin: 50px 0px 50px 0px;

}

.container-text-2 {
    width: 50%;
    margin: 50px 0px 50px 120px;

}

.container-img {
    width: 25%;
    margin: 50px 0px 50px 0px;

}

p {
    font-size: 23px;
    font-weight: lighter;
}

.container-button {
    background-color: #00BDD6;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 7px;
    margin-bottom: 30px;
    font-size: 15px;
}

.container-button:hover {
    border: #00BDD6 2px solid;
    background-color: white;
    color: #00BDD6;
}

.learn {
    text-align: center;
    display: block;
    background-color: #DEE1E6;
    border-radius: 10px;
    margin: 0px 300px 50px 300px;
    padding-top: 30px;
}

h4 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    display: block;
    margin-left: 210px;
    margin-right: 210px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-btn {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500PX;
    font-size: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: static;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: flow-root;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #080A1D;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;

    margin: -8px;
    gap: 15px;
}

.footer-column {
    flex: 1;
}

.footer-img {
    width: 250px;
    padding-top: 60px;
    padding-left: 50PX;
}

.ul {
    list-style: none;
    margin: 0px;
}

ul li {
    margin-bottom: 10px;
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    font-family: sans-serif;
    transition: 0.3s;
    line-height: 30px;
}

ul li a:hover {
    color: #00BDD6;
}

h5 {

    color: white;
    font-size: 25px;
    font-weight: normal;
}

.copyright {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #080A1D;
    color: white;
    text-align: center;
    font-weight: lighter;
    margin: -8px;
    padding: 5px;
    font-size: 10px;
}
.copyright-1 {
    font-size: 12px;
}

h2 {
    font-size: 35px;
}

.wrapper {
    display: block;
    border: #080A1D solid 2px;
    border-radius: 25px;
    margin: 50px 520px 150px 520px;
    text-align: center;
}

.input-box {

    margin: -10px 50px 20px 50px;
}

.input-box input {
    background: #D9D9D9;
    border: none;
    outline: none;
    border: #D9D9D9 solid 2PX;
    border-radius: 4px;
    width: 100%;
    height: 30px;

}

.input-box input::placeholder {
    padding-left: 10px;
}

.login-text {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-left: 50px;
}

.remember-forgot {
    margin-bottom: 50px;


}

.remember {
    margin-right: 200px;
    margin-left: -20px;
}


.psswd {
    margin-left: -30px;
}

.remember-forgot a {
    width: 50%;

    font-size: 13px;
    margin-right: -30px;
}

.container-button-sign {
    background-color: #00BDD6;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: center;
    border-radius: 7px;
    margin: 0px 20px 40px 20px;
    font-size: 20px;
}

.container-button-sign a {
    text-decoration: none;
    color: white;
}

.container-button-sign:hover {
    background-color: white;
    border: #00BDD6 2px solid;
}

.container-button-sign a:hover {
    color: #00BDD6;
}

.about {
    margin: 0px 200px 150px 200px;
}

.box-c {
    display: flex;
    margin: 50px 120px 150px 120px;
    gap: 50px;

}

.challenge {
    width: 33%;
    border-radius: 10px;
    text-align: center;
    border: #00BDD6 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-c {
    margin-top: -40px;
    color: #00BDD6;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.text {
    font-size: 17px;
    margin: 10px 20px 50px 20px;
}

.text-1 {
    font-size: 17px;
    margin: -20px 20px 60px 20px;
}

.bk1 {
    text-align: center;
    display: block;
    margin: 50px;
}

.progress-bar {
    width: 700px;
    margin: 20px 400px 100px;
    border: #00BDD6 2px solid;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}


.progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    border-radius: 10px;
    transition: width 0.5s;
}

.box-p {
    margin: 50px 150px 100px 150px;
    text-align: center;

}

.projects {
    text-align: center;
    margin: 40px 0px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: #00BDD6 3px solid;
    padding: 0px;
    width: 70%;

}

.project-p {
    text-align: center;
    margin-bottom: 30px;
    color: #00BDD6;


}

h6 {
    font-size: 12px;
    padding-left: 100px;
    text-align: left;
    font-weight: normal;
    margin: -25px 0px 0px;
}

.text-2 {
    display: block;
    margin: 20px 100px 30px 100px;
    font-size: 15px;
    font-weight: normal;

}

hr {
    border: #00BDD6 2px solid;
    margin-bottom: 20px;
}